<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">

    <section id="plugin.video.dlive">

        <category id="general" label="30101">

            <group id="1" label="">

                <setting id="first" label="30102" type="integer">
                    <level>0</level>
                    <default>32</default>
                    <constraints>
                        <minimum>16</minimum>
                        <step>4</step>
                        <maximum>48</maximum>
                    </constraints>
                    <control type="slider" format="integer" />
                </setting>

                <setting id="nsfw" label="30103" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle" />
                </setting>

                <setting id="settings" label="30104" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle" />
                </setting>

                <setting id="timeout" label="30105" type="number">
                    <level>2</level>
                    <default>10.0</default>
                    <constraints>
                        <minimum>0.0</minimum>
                        <step>10.0</step>
                        <maximum>120.0</maximum>
                    </constraints>
                    <control type="slider" format="number" />
                </setting>

            </group>

        </category>

    </section>

</settings>
