<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>

    <!-- General -->
    <category label="30101">

        <setting id="first" label="30102" type="slider"
                 range="16,4,48" option="int"
                 default="32" />

        <setting id="showNSFW" label="30103" type="bool"
                 default="false" />

    </category>

</settings>
